body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #363636;
    padding: 0 10px;
    background-color: #EEEEEE;
}

h1,h2,h3 {
    line-height: 1.2
}

.borderpls {
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-style: solid;
    border-radius: 3%;
    border-color: #363636;
}